body {
    background: url("./Images/image-from-rawpixel-id-513972-jpeg.jpg");
    font-family: "Teko";
    margin: 100px;
}

.content {
    width: 90%;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 40px;
}

.content-h2 {
    color: lightseagreen;
    height: 200px;
    flex-basis: 25%;
    text-align: right;
    padding-left: 60px;
    margin: auto;
}

#contact-info {
    font-size: 100px;
    margin-top: 150px;
}

#contactinfo {
    float: right;
    padding-top: 40px;
    font-size: 60px;
}

.box-element {
    margin: 50px 0;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.content-div {
    flex-basis: 70%;
    position: relative;
}

.content-h2 {
    color: lightseagreen;
    height: 200px;
    flex-basis: 25%;
    text-align: right;
}

#email, #number, #github, #linkedIn {
    color:lightseagreen;
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 15px;
}
#email a, #number a, #github a, #resume a, #linkedIn a {
    color: lightseagreen;
    text-decoration: underline dotted lightseagreen;
}

ul {
    border: black;
}

ul li {
    list-style-type: none;
}

a {
    color: lightseagreen;
    font-weight: bolder;
    text-decoration: none;
    font-size: 40px;
}

.buttons {
    margin: auto;
}

.link-border {
    border-color: #d4af37;
    border-style: groove;
    height: 1px;
    width: 80%;
    margin: auto;
}


li { text-align: center; }
.link {
   /* RESET */
   text-decoration: none;
   line-height: 1;
   
   position: relative;
   z-index: 0;
   display: inline-block;
   padding: 5px 5px;
   overflow: hidden;
   color: lightseagreen;
   vertical-align: bottom;
   transition: color .3s ease-out;
}

.link::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   transform: translateY(calc(100% - 2px));
   width: 100%;
   height: 100%;
   background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
   transition: transform .25s ease-out;
}

.link:hover { 
   color: #fff; 
}
.link:hover::before {
   transform: translateY(0);
   transition: transform .25s ease-out;
}

.buttons {
   /* position: fixed; */
   top: 0;
   left: 0;
   width: 100vw;
   height: 20px;
   text-align: center;
   font-size: 10px;
   line-height: 20px;
   color: white;
   letter-spacing: 1px;
   margin-left: 20px;
}

.buttons > a {
   text-decoration: none;
   color: #fff;
   letter-spacing: 1px;
}

@media screen and (min-width: 992px) {
}