body {
    background: url("./Images/image-from-rawpixel-id-936986-jpeg.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Orbitron";
    box-sizing: border-box;
}

.link-border {
    border-color: #d4af37;
    border-style: groove;
    height: 1px;
    width: 70%;
    margin: auto;
}

.content {
    width: auto;
    margin: 30px 30px;
    font-size: 40px;
}

.headers {
    position: absolute;
    right: 300px;
}

.content-h2 {
    color: #131A27;
    flex-basis: 15%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.content-h3 {
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    color: #131A27;
}

.content-div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.box-element {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px; 
    display: flex;
    flex-wrap: wrap;
}

.buttons {
    margin: auto;
    padding-top: 10px;
}

ul {
    border: #131A27;
}

ul li {
    list-style-type: none;
}

a {
    color: #131A27;
    font-weight: bolder;
    text-decoration: none;
    font-size: 40px;
}

img:hover {
    -moz-box-shadow: 0 0 10px #131A27;
    -webkit-box-shadow: 0 0 10px #131A27;
    box-shadow: 0px 0px 10px #131A27;
}