body {
    background: url("./Images/image-from-rawpixel-id-1201197-original.jpg");
    margin: auto;
    text-align: center;
    width: 75%;
    font-family: "Righteous";
    color: #b76E79;
}

.content {
    width: 90%;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 15px;
    font-size: 40px;
}

.box-element1 {
    color: #b76E79;
    font-size: 50px;
}

ul {
    border: black;
}

ul li {
    list-style-type: none;
}

.box-element {
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.content-h2 {
    color: #d4af37;
    height: 200px;
    flex-basis: 25%;
    text-align: right;
}

#about-me {
    height: 250px;
    padding-top: 15px;
    color: #b76E79;
}

#aboutme {
    width: 75%;
    font-size: 27px;
    padding:  30px;
    text-align: justify;
}

.link-border {
    border-color: #d4af37;
    border-style: groove;
    height: 1px;
    width: 70%;
    margin: auto;
}

.content-div {
    flex-basis: 70%;
    position: relative;
}

#portrait {
    height: 280px;
    margin: auto;
    padding-bottom: 10px;
}

a {
    color: #b76E79;
    font-weight: bolder;
    text-decoration: none;
}

.selectable:hover {
    -moz-box-shadow: 0 0 10px #d4af37;
    -webkit-box-shadow: 0 0 10px #d4af37;
    box-shadow: 0px 0px 10px #d4af37;
}

.wrapper {
    display: flex;
    justify-content: center;
    font-weight: 100;
  }
  
  a {
    color: #b76E79;
    text-decoration: none;
  }
  a span {
    font-weight: 100;
    transition: all 0.5s;
    border-bottom: 1px solid;
  }
  a span:nth-child(2) {
    transition-delay: 0.1s;
  }
  a span:nth-child(3) {
    transition-delay: 0.2s;
  }
  a span:nth-child(4) {
    transition-delay: 0.3s;
  }
  a:hover span {
    font-weight: 700;
  }
  a:hover span:nth-child(4) {
    transition-delay: 0.3s;
  }
  a:hover span:nth-child(3) {
    transition-delay: 0.2s;
  }
  a:hover span:nth-child(2) {
    transition-delay: 0.1s;
  }
  a:hover span:nth-child(1) {
    transition-delay: 0s;
  }
  a.hover-shadow:hover {
    text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #ddd;
  }
  a.hover-color:hover {
    border-color: darkmagenta;
  }


@media screen and (min-width: 992px) {
}